html {
  font-size: 62.5%;
  /* background-color: rgb(80, 80, 80); */
}
body {
  background-color: rgb(60, 60, 60);
}

.hero {
  padding: 1rem;
  background-color: #181818;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  color: #fff;
}

#pages {
  margin: 0.5rem 0;
  height: auto;
}
.wrapper {
  background-color: gray;
  width: 300px;
  height: 100px;
}

.card {
  margin: 1rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(190, 190, 190);
}
.card-body {
  padding: 0.8rem;
}
.card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card h5 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.card-text {
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
}

.pageButtons {
  display: flex;
  justify-content: center;
}

.pageButtons div{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  align-content: center;
  margin: 0.5rem;
  width: 2.6rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  background-color: #504f4f;
}
.pageButtons p {
  margin: 0;  
}
footer {
  margin-top: 0.1rem;
  background-color: #181818;
  height: 2rem;
}