html {
  font-size: 62.5%;
}
body {
  background-color: #181818;
}

/* header ----- */
header .container-fluid{
  padding: 0 2rem;
  justify-content: space-evenly;
}
header a{
  font-size: 1.4rem;
  color: rgb(180, 180, 180);
  text-decoration: none;
}
header a:hover {
  color: #fff;
}
/* ------ header*/

.hero {
  padding: 1rem;
  background-color: #181818;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  color: #fff;
}

#pages {
  margin: 0.5rem 0;
  height: auto;
}
.wrapper {
  background-color: gray;
  width: 300px;
  height: 100px;
}

.card {
  margin: 1rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(190, 190, 190);
}
.card-body {
  padding: 0.8rem;
}
.card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card h5 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.card-text {
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
}

.pageButtons {
  display: flex;
  justify-content: center;
}

.pageButtons div {
  text-align: center;
  align-content: center;
  margin: 0.6rem;
  background-color: #504f4f;
  min-width: 2.6rem;
}

.nextPage, .prevPage {
  font-size: 2rem;
  font-weight: 700;
  height: 3.6rem;
  border-radius: 0.5rem;
}

footer {
  margin-top: 0.1rem;
  background-color: #181818;
  height: 2rem;
}

.numPage {
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0rem;
  padding: 0 0.5rem;
  padding-top: 0.5rem;
}